.header {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 5em;
    box-shadow: 12px 0px 48px -5px rgba(184, 184, 184, 0.81);
    transition: all 1s;
    text-align: center;
}

.logo {
    margin-bottom: 50%;
}

.links {
    width:80%;
    margin: auto;
}

.links {
    display:flex;
    flex-direction: column;
}

.links div {
    border: 1px solid rgb(0, 160, 0);
    border-radius: 5px;
    width:50%;
    padding:1em;
    margin:1em auto;
    transition: all .5s ease-out;
    
}

.links div:hover {
    background-color: rgb(0, 160, 0);
    color:#fff;
    cursor: pointer;
    transition: all .5s ease-out;
}

.nav-link {
    text-decoration: none;
    color:rgb(0, 160, 0);
    transition: all .5s ease-out;
}
  
.nav-link:hover {
    color:#fff;
    transition: all .5s ease-out;
}